// -----> Heading fonts size
$font-size-heading-1: 6.4rem;
$font-size-heading-2: 4.0rem;
$font-size-heading-3: 3.2rem;
$font-size-heading-4: 2.4rem;
$font-size-heading-5: 2.1rem;
$font-size-heading-6: 1.8rem;

// -----> Body fonts size
$font-size-body-xlg: 2rem;
$font-size-body-lg: 1.8rem;
$font-size-body-md: 1.6rem;
$font-size-body-sm: 1.4rem;
$font-size-body-xsm: 1.2rem;

// -----> Responsive breakpoints
$breakpoint-sm: 57.6rem;
$breakpoint-md: 76.8rem;
$breakpoint-lg: 99.2rem;
$breakpoint-xl: 120.0rem;
$breakpoint-xxl: 140.0rem;

// -----------------------------------

// ----- > Main Colors
$color-primary: #5235E8;
$color-secondary: #DAF727;
$color-black: #0E0637;
$color-white: #FFF;

// ----- > Main Color Shades
$color-primary-50: #F7F6FE;
$color-primary-100: #EFEDFD;
$color-primary-150: #ededff;
$color-primary-200: #E7E3FC;
$color-primary-300: #DEDAFB;
$color-primary-400: #D6D1FA;

$color-secondary-50: #F7F6FE;
$color-secondary-100: #EFEDFD;
$color-secondary-200: #E7E3FC;
$color-secondary-300: #DEDAFB;
$color-secondary-400: #D6D1FA;

$color-neutral-50: #F7F6FE;
$color-neutral-100: #EFEDFD;
$color-neutral-200: #E7E3FC;
$color-neutral-300: #DEDAFB;
$color-neutral-400: #D6D1FA;
$color-neutral-500: #F7F6FE;
$color-neutral-600: #EFEDFD;
$color-neutral-700: #E7E3FC;
$color-neutral-800: #DEDAFB;
$color-neutral-900: #D6D1FA;