// ----- > Main Colors
$color-primary: #5235E8;
$color-secondary: #DAF727;
$color-black: #0E0637;
$color-white: #FFF;

// ----- > Main Color Shades
$color-primary-50: #F7F6FE;
$color-primary-100: #EFEDFD;
$color-primary-200: #E7E3FC;
$color-primary-300: #DEDAFB;
$color-primary-400: #D6D1FA;

$color-secondary-50: #F7F6FE;
$color-secondary-100: #EFEDFD;
$color-secondary-200: #E7E3FC;
$color-secondary-300: #DEDAFB;
$color-secondary-400: #D6D1FA;

$color-neutral-50: #F7F6FE;
$color-neutral-100: #EFEDFD;
$color-neutral-200: #E7E3FC;
$color-neutral-300: #DEDAFB;
$color-neutral-400: #D6D1FA;
$color-neutral-500: #F7F6FE;
$color-neutral-600: #EFEDFD;
$color-neutral-700: #E7E3FC;
$color-neutral-800: #DEDAFB;
$color-neutral-900: #D6D1FA;