:root {
    --color-primary: #5235E8;
    --color-primary-50: rgba(82, 53, 232, 0.05);
    --color-primary-100: rgba(82, 53, 232, 0.1);
    --color-primary-200: rgba(82, 53, 232, 0.2);
    --color-primary-300: rgba(82, 53, 232, 0.3);
    --color-primary-400: rgba(82, 53, 232, 0.4);
    --color-primary-500: rgba(82, 53, 232, 0.5);
    --color-primary-600: rgba(82, 53, 232, 0.6);
    --color-primary-700: rgba(82, 53, 232, 0.7);
    --color-primary-800: rgba(82, 53, 232, 0.8);
    --color-primary-900: rgba(82, 53, 232, 0.9);

    --color-secondary: #DAF727;
    --color-secondary-50: rgba(218, 247, 39, 0.05);
    --color-secondary-100: rgba(218, 247, 39, 0.1);
    --color-secondary-200: rgba(218, 247, 39, 0.2);
    --color-secondary-300: rgba(218, 247, 39, 0.3);
    --color-secondary-400: rgba(218, 247, 39, 0.4);
    --color-secondary-500: rgba(218, 247, 39, 0.5);
    --color-secondary-600: rgba(218, 247, 39, 0.6);
    --color-secondary-700: rgba(218, 247, 39, 0.7);
    --color-secondary-800: rgba(218, 247, 39, 0.8);
    --color-secondary-900: rgba(218, 247, 39, 0.9);

    --color-black: #0E0637;
    --color-black-50: rgba(14, 6, 55, 0.05);
    --color-black-100: rgba(14, 6, 55, 0.1);
    --color-black-200: rgba(14, 6, 55, 0.2);
    --color-black-300: rgba(14, 6, 55, 0.3);
    --color-black-400: rgba(14, 6, 55, 0.4);
    --color-black-500: rgba(14, 6, 55, 0.5);
    --color-black-600: rgba(14, 6, 55, 0.6);
    --color-black-700: rgba(14, 6, 55, 0.7);
    --color-black-800: rgba(14, 6, 55, 0.8);
    --color-black-900: rgba(14, 6, 55, 0.9);

    --color-white: #FFF;
    --color-white-50: rgba(255, 255, 255, 0.05);
    --color-white-100: rgba(255, 255, 255, 0.1);
    --color-white-200: rgba(255, 255, 255, 0.2);
    --color-white-300: rgba(255, 255, 255, 0.3);
    --color-white-400: rgba(255, 255, 255, 0.4);
    --color-white-500: rgba(255, 255, 255, 0.5);
    --color-white-600: rgba(255, 255, 255, 0.6);
    --color-white-700: rgba(255, 255, 255, 0.7);
    --color-white-800: rgba(255, 255, 255, 0.8);
    --color-white-900: rgba(255, 255, 255, 0.9);

    --color-danger: #ff2e28;
    --color-danger-50: rgba(255, 46, 40, 0.05);
    --color-danger-100: rgba(255, 46, 40, 0.1);
    --color-danger-200: rgba(255, 46, 40, 0.2);
    --color-danger-300: rgba(255, 46, 40, 0.3);
    --color-danger-400: rgba(255, 46, 40, 0.4);
    --color-danger-500: rgba(255, 46, 40, 0.5);
    --color-danger-600: rgba(255, 46, 40, 0.6);
    --color-danger-700: rgba(255, 46, 40, 0.7);
    --color-danger-800: rgba(255, 46, 40, 0.8);
    --color-danger-900: rgba(255, 46, 40, 0.9);
}