:root {
    --font-size-heading-1: 50px;
    --font-size-heading-2: 32px;
    --font-size-heading-3: 26px;
    --font-size-heading-4: 20px;
    --font-size-heading-5: 17px;
    --font-size-heading-6: 14px;

    --font-size-body-xlg: 18px;
    --font-size-body-lg: 16px;
    --font-size-body-md: 14px;
    --font-size-body-sm: 12px;
    --font-size-body-xsm: 11px;
    --font-size-body-xxsm: 9px;
}

@media screen and (min-width: 768px) {
    :root {
        --font-size-heading-1: 64px;
        --font-size-heading-2: 40px;
        --font-size-heading-3: 32px;
        --font-size-heading-4: 24px;
        --font-size-heading-5: 21px;
        --font-size-heading-6: 18px;

        --font-size-body-xlg: 20px;
        --font-size-body-lg: 18px;
        --font-size-body-md: 16px;
        --font-size-body-sm: 14px;
        --font-size-body-xsm: 12px;
        --font-size-body-xxsm: 10px;
    }
}