:root {
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1400px;

    --font-size-heading-1: 64px;
    --font-size-heading-2: 40px;
    --font-size-heading-3: 32px;
    --font-size-heading-4: 24px;
    --font-size-heading-5: 21px;
    --font-size-heading-6: 18px;

    --font-size-body-xlg: 2px;
    --font-size-body-lg: 18px;
    --font-size-body-md: 16px;
    --font-size-body-sm: 14px;
    --font-size-body-xsm: 12px;


    --spacing-xsm: 7px;
    --spacing-sm: 10px;
    --spacing-md: 14px;
    --spacing-lg: 18px;
    --spacing-xl: 24px;
    --spacing-xxl: 30px;
    --spacing-xxxl: 38px;
    --spacing-xxxxl: 48px;
    --spacing-xxxxxl: 60px;
}