@import './../utilities/typography';

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
}

h1 {
  font-size: $font-size-heading-1
}

h2 {
  font-size: $font-size-heading-2
}

h3 {
  font-size: $font-size-heading-3
}

h4 {
  font-size: $font-size-heading-4
}